.dockWrap {
    padding: 0 2vw;
    height: 6vh;
    background: rgba(104, 104, 104, 0.139);
    position: absolute;
    left: 50vw;
    bottom: 3vh;
    transform: translateX(-50%);
    border-radius: 15px;
    border: rgb(98, 98, 98) solid 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}